/*-- scss:defaults --*/
$primary: #1f5fa8;
$link-color: $primary;
$font-size-root: 17px;
$headings-font-weight: 700;
$border-radius: 0.5rem;
$enable-shadows: true;

/*-- scss:rules --*/
body {
  line-height: 1.65;
}
